---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}



<!-- New style rendering if publication categories are defined -->

{% if site.publication_category %}

  {% for category in site.publication_category  %}

    {% assign title_shown = false %}

    {% for post in site.publications reversed %}

      {% if post.category != category[0] %}

        {% continue %}

      {% endif %}

      {% unless title_shown %}

        <h2>{{ category[1].title }}</h2><hr />

        {% assign title_shown = true %}

      {% endunless %}

      {% include archive-single.html %}

    {% endfor %}

  {% endfor %}

{% else %}

  {% for post in site.publications reversed %}

    {% include archive-single.html %}

  {% endfor %}

{% endif %}



{% include base_path %}

{% for post in site.publications reversed %}

  {% include archive-single.html %}

{% endfor %}

# Publications

<ul>
{% for pub in site.publications %}
  <li>
    <a href="{{ pub.url }}">{{ pub.title }}</a><br/>

    {% if pub.tocimage %}
      <img src="{{ pub.tocimage }}" alt="TOC image for {{ pub.title }}" style="width:150px; margin-top:0.5em; margin-bottom:0.5em;" />
    {% endif %}

    <p>{{ pub.excerpt }}</p>
  </li>
{% endfor %}
</ul>
